.App {
  text-align: center;
}
.button_class{
  height: 8vh;
  border-radius: 1vh;
  background-color: #f38600;
  font-size: 4vh;
  color: white;
  border: 2px solid black;
  width: 27vh;
  margin: 2vh;
  display: inline-block; /* Ensure buttons are inline */
  text-align: center; /* Center text */
  line-height: 8vh;
}
.button_reset_start{
  display: flex;
  justify-content: center;

}

@media (max-width: 768px) {
  .button_reset_start {
    flex-direction: column;
    align-items: center;
  }
  
  .button_class {
    width: 39vw; /* Adjust width for smaller screens */
    margin: 1vh 0; /* Adjust margin for vertical stacking */
  }
}

@media (max-width: 480px) {
  .button_class {
    font-size: 3vh; /* Reduce font size */
    width: 90vw; /* Increase width to fit screen */
    height: 10vh; /* Adjust height if needed */
  }
}